<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css"/>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>

<a href="#" data-target="slide-out" class="sidenav-trigger">
    <i id="left-panel-icon" class="material-icons">menu</i>
</a>
<!--v-bind = props:['todo'] = element de la boucle for-->
<!--v-bind key = index de la liste-->
<header>

        <div id="menu">
            <ul id="slide-out" class="sidenav">
                <menu-nav
                v-for="item in menuList"
                v-bind:todo="item"
                v-bind:key= "item.id"
                ></menu-nav>
            </ul>
        </div>

</header>

<div class="container">

    <div class="card hoverable" id="titre">
        <h3 class="orange-text lighten-1">{{ titre }}</h3>
        <em>Dans la console F12 : app.titre = "Ok c cool"</em>
    </div>

    <div id="survol" class="card hoverable">
        <h5 class="orange-text lighten-1">2) Lier des attributs au element HTML</h5>
        <p>On utilise v-bind pour lier un attribut a un element HTML + une fonction Date de Javascript</p>
        <p class="VbindTest" v-bind:title="message">Au survol de la souris une info bulle apparait grace a l'ajout d'un attribut title (similaire a la balise img title="Du texte")</p>
    </div>

    <div id="input-reatif" class="card hoverable">
        <h5 class="orange-text lighten-1">3) Un input type texte reactif sans validation</h5>
        <input v-model="message" class="validate" placeholder="Merci d'enter du texte" />
        <p>Résultat : <b class="white-text green" style="padding: 10px">{{message}}</b></p>
    </div>
    <!--Condition if else if et else -->
    <div id="cond">

    </div>

    <div id="condition" class="card hoverable">
        <h5 class="orange-text lighten-1">4) Des directives pour manipuler le DOM</h5>
        <h6 class="purple-text lighten-1">Des attribut HTML spéciaux : v-if, v-else-id et v-else</h6>
        <p v-html="codeHTML">Ici un exemple avec v-html : {{codeHTML}}</p>
        <p>On utilise v-if comme attribut pour afficher ou cacher un element (bool) et 2 methodes sur des boutons pour afficher et cacher du texte</p>
        <p v-if="voir">Element visible</p>

        <button v-on:click="show" type="submit" id="show" class="btn red">v-if voir = false</button>
        <button v-on:click="hide" type="submit" id="hide" class="btn green">v-if voir = true</button>

        <button v-if="variable = !variable" class="btn purple" @click="ShowHide">Voir + caché</button>
    </div>

    <div id="list-for" class="card hoverable">
        <h5 class="orange-text lighten-1">5) Une boucle pour afficher un tableau</h5>
        <p>On utilise v-for pour parcourir tableau qui contient des objets</p>
        <p>Ici on lie des données aux textes, aux attributs et a la structure du DOM avec un effet de transition</p>
        <ol>
            <li v-for="liste in listes">
                {{ liste.texte }}
            </li>
        </ol>
        <em class="purple-text">Le même concept est utilisé dans un composant pour la sidenav left</em>
    </div>

    <div id="input" class="card hoverable">
        <h5 class="orange-text lighten-1">5) Un champ du formulaire interactif avec v-model</h5>
        <p>Cette directive fait la liaison de donnée bidirectionnelle entre input value et l'etat de l'application (affichage dans la vue)</p>
        <div class="input-field col s12">
            <input v-model="message" placeholder="Input reactif"  type="text" class="validate">
        </div>
        <p>{{ message }}</p>
    </div>


    <div id="metCom" class="card hoverable">

        <form action="#">
            <p>
              <label>
                 <input type="checkbox" v-model="success">
                  <span class="green-text" :class="test">TEST Methods Vs Computed</span>
                  <input type="text" v-model="message" />
                  <span>{{message}}</span>
              </label>
            </p>
        </form>
    </div>
</div>



    <script src="https://code.jquery.com/jquery-3.6.0.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="js/app.js" type="text/javascript"></script>
    <script src="js/menu.js"></script>

</body>
</html>